asn1crypto==0.24.0
Babel==2.9.1
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
cryptography==2.3.1
dj-database-url==0.5.0
Django==1.11
django-bootstrap3==10.0.1
django-mfa==1.0
django-qr-code==1.0.0
gunicorn==19.9.0
idna==2.7
nexmo==2.2.0
Pillow==5.2.0
psycopg2==2.7.5
psycopg2-binary==2.7.5
pycparser==2.18
PyJWT==1.6.4
python-decouple==3.1
pytz==2018.5
qrcode==6.0
requests==2.19.1
six==1.11.0
urllib3==1.23
whitenoise==4.0
