{%extends 'partials/base.html'%}

{% block content %}
<h3 class="text-center">Beyonic MFA Email Activation</h3>
<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<p class="text-center">
			<div class="alert alert-danger alert-dismissible text-center" role="alert">
			    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			      <span aria-hidden="true">&times;</span>
			    </button>
			    Sorry! But you are trying to use a link that is no longer valid
			  </div>
		</p>
	</div>
	<div class="col-md-3"></div>
</div>
{% endblock %}